<div class="jumbotron text-center line-height-override">
    <h1 class="text-center">ABOUT ME</h1>
    <div class="text-center">intersections, differences, unions, and null sets</div>
    <div class="text-left">
        <p>
            Is this page necessary, or just narcissism?
        </p>
        <p>
            In any case, I'm a computer science graduate from MSU.  I've spent the years since college at a place called Vertafore, working on some of their web applications.
        </p>
        <p>
            Professional stuff aside, I have a fairly standard range of interests... I enjoy programming, cooking, staying healthy, and the company of my two cats.
            There is a daily struggle between side projects, video games, and cartoons for which gets the majority of my evening hours.  I enjoy spending time with friends and family, be it over cigars
            and casual conversation, or just casual conversation.
        </p>
        <p>
            Also, I hate writing about myself, so, I'll finish this some other time (...not).
        </p>
    </div>
</div>