﻿<div class="jumbotron text-center line-height-override">
    <h1 class="text-center">DREAMS</h1>
    <div class="text-center">a strict subset of reality</div>
    <h3 class="text-center">{{ message }}</h3>
</div>