<div class="jumbotron text-center line-height-override">
    <h1 style="text-align: center;">RESUME</h1>
    <div style="text-align: center;">a description of my education and qualifications</div>
    <br />
    <div class="text-left">
        Downloadables:
        <a href="resume/cmm_resume.pdf">PDF version</a>,
        <a href="resume/cmm_resume.txt">text-only</a>,
        <a href="resume/cmm_resume.doc">MS Word format</a>
        <br /><br /><br />
        <h2>Christopher M. Monosmith</h2>
        <a href="mailto:cmmonosmith@gmail.com">cmmonosmith@gmail.com</a>
        <br /><br />
        <h3>SUMMARY</h3>
        <br />
        Seeking a fun and challenging career in software programming or game programming.<br />
        <br /><br />
        <h3>EDUCATION</h3>
        <br />
        Bachelor of Computer Science - May 2009<br />
        Michigan State University, East Lansing, MI<br />
        GPA: 3.4065<br />
        <ul>
            <li>Emphasis on game programming</li>
            <li>Cognate (minor) - Japanese Language</li>
        </ul>
        <br /><br />
        <h3>TECHNICAL</h3>
        <br />
        Languages Used: Java (currently most proficient), PL/SQL, C, C++, C#, VB, HTML, PHP<br />
        Environments: Windows (most proficient), Linux/Unix, some Mac<br />
        Development Environments: IntelliJ, Oracle SQL Developer, Visual Studio<br />
        Miscellaneous: Weblogic, Struts, Kodo, .NET, SVN, XNA, OpenGL, Actuate, Pentaho<br />
        <br /><br />
        <h3>EXPERIENCE</h3>
        <br />
        Software Engineer - Vertafore<br />
        August 2009 - Present<br />
        East Lansing, MI<br />
        <ul>
            <li>
                maintain and enhance Sircon for States and G2 web applications to meet customer needs
                <ul>
                    <li>primarily Java-based, deployed on WebLogic 10.3.x</li>
                </ul>
            </li>
            <li>triage critical issues for applications to improve stability and customer satisfaction</li>
            <li>follow Java OO standards and industry/internal best practices, utilize standard libraries</li>
            <li>
                optimize Java and Oracle database performance for new and existing features
                <ul>
                    <li>reduced load time of a complex page by over 90%, minimizing timeout issues</li>
                </ul>
            </li>
            <li>design and build efficient reports and queries</li>
            <li>build and enhance internal tools to improve efficiency across departments</li>
            <li>create and improve documentation for development and cross-product integration</li>
            <li>work on a small Scrum/agile team in addition to working with remote teams abroad</li>
        </ul>
        <br /><br />
        Internship - General Dynamics Land Systems<br />
        May - August in 2006, 2007, 2008<br />
        Sterling Heights, MI<br />
        <ul>
            <li>performed requirements engineering, decomposition, and documentation</li>
            <li>demonstrated Stryker ET capabilities to government and army personnel</li>
            <li>reviewed, tested and documented potential software problem in current design</li>
            <li>assisted in subsystem simulation software design, development, and documentation</li>
        </ul>
        <br /><br />
        Independent Study at MSU - CMEIAS<br />
        Fall 2006 - Spring 2007<br />
        Center for Microbial Ecology Image Analysis System<br />
        East Lansing, MI<br />
        <ul>
            <li>incorporated functionality from two old command line tools into a new GUI application</li>
            <li>enhanced performance and compatibility with other CMEIAS software</li>
        </ul>
        <br /><br />
        <h3>OTHER ACTIVITIES</h3>
        <br />
        Imagine Cup 2009<br />
        University activities: MSU Kendo Club (officer, 2006-2009), Spartasoft<br />
        <br />
    </div>
</div>